
.lyric-area{
    background-color: white;
    overflow: hidden;
    height: 800px;
}

/* Highlighting
-----------------------------------------------------------------------------*/

.lyric-text {
    font-size: 50px;
    color: black;

    background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, #ddd 50%);
    background-position: -0% 0;
    background-size: 200% auto;

    transition: background-position 120s ease-out;
}
.lyric-text-active {
    background-position: -99.99% 0;
}

/* Scrolling
-----------------------------------------------------------------------------*/


.marquee {
    position: relative;
    animation: marquee 40s linear infinite;

    animation-play-state: paused;
}

/* Make it move! */
@keyframes marquee {
    0%   { top:   0em }
    100% { top: -15em }
}

/* Komponents
-----------------------------------------------------------------------------*/

.hoveringBox{
    color: white;
    background-color: white;
    position: absolute;
    height: 30px;
    width: 1000px;
}
