.lyric-area{
    background-color: white;
    padding: 50px;
}

.lyric-area a{
    font-size: 50px;
}

/* Highlighting
-----------------------------------------------------------------------------*/

.lyric-area a{
    background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, #ddd 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    transition: background-position 20s ease-out;
}
.lyric-area a:hover {
    background-position: -99.99% 0;
}