/* Player
-----------------------------------------------------------------------------*/


.musicplayer {

    background-color: white;
    padding-top: 30px;
    position: relative;

}
.ttl{
    float: right;
}
h1{
    font-weight: bold;
}

.playerIcons{
    font-size: 30px;
    color: black;
    padding-top: 50px;
}

/* Album Select
-----------------------------------------------------------------------------*/

.libary__albumSelect{
    background-color: white;
    padding: 20px;
}
