/* Player
-----------------------------------------------------------------------------*/


.musicplayer {

    background-color: white;
    padding-top: 30px;
    position: relative;

}
.ttl{
    float: right;
}
.span-bold{
    font-size: 24px;
    font-weight: bold;
}
.glyph-span{
    font-size: 20px;
    padding: 0 0 0 5px;
}

.playerIcons{
    font-size: 30px;
    color: black;
    padding-top: 50px;
}
.progress-bar-custom {
    background: rgba(105, 105, 105, 1);
}

/* Album Select
-----------------------------------------------------------------------------*/

.libary__albumSelect{
    background-color: white;
    padding: 20px;
}
